

@font-face {
  font-family: "B52";
  src: local("B52"),
    url("../fonts/B52.woff2") format("woff2"),
    url("../fonts/B52.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
::before,
::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}


/* Global */
img {
  max-width: 100%;
}

body {
  font-family: 'B52', sans-serif;
  font-weight: 400;
  color: #fff;
  background-image: url("../img/bg4.jpg");
  background-size: contain;
  background-position: center;
  background-attachment: fixed;

}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 20px;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}



/* header */
.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 100px 0;
}

.header__logo {
  display: inline-block;
  width: 235px;
  height: 287px;
  margin-bottom: 20px;
  transition: all .3s ease;
  cursor: auto;
}



.header__title {
  display: none;
  margin: 0;
  font-weight: 400;
  font-size: 25px;
}

.header__img-title {
  width: 400px;
}


/* albums */
.albums {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-bottom: 100px;
}



.albums__link-inst {
  opacity: 1;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

.albums__link-inst:hover {
  opacity: .7;
}

.albums__accordion {
  /* width: 800px; */
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

.albums__title.ui-accordion-header-active {
  margin-top: 40px;
  font-size: 25px;
}

.albums__title {
  margin: 0;
  margin-bottom: 15px;
  width: 100%;
  font-weight: normal;
  text-align: center;
  cursor: pointer;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

.albums__title:hover {
  opacity: .8;
}

.albums__box {
  padding-bottom: 30px;
}

.albums__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 15px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.albums__content_video {
  flex-direction: column;
  align-items: center;
}

.albums__img {
  margin-bottom: 20px;
  margin-right: 15px;
  max-width: 400px;
  max-height: 372px;
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
  cursor: pointer;
}

.albums__img:hover {
  -webkit-transform: scale(1.01);
  -ms-transform: scale(1.01);
  transform: scale(1.01);
  z-index: 10;
}

.albums__descr {
  margin-bottom: 30px;
}

.albums__player {
  max-width: 450px;
}

.player {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}

.player__name {
  margin: 0;
  margin-bottom: 5px;
}


.player__song {
  font-size: 16px;
  display: inline-block;
  margin-bottom: 5px;
}

.player__artist {
  font-size: 12px;
  opacity: .8;
}

.player__progress-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.player__progress {
  margin-right: 10px;
  width: 150px;
  height: 5px;
  background-color: #fff;
  opacity: .3;
  border-radius: 3px;
  cursor: pointer;
}

.player__progressbar {
  width: 0%;
  height: 5px;
  border-radius: 3px;
  background-color: black;
  opacity: .7;
}

.player__timer {
  font-size: 12px;
  white-space: nowrap;
}

.player__btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 85px;
  margin-right: 15px;
}

.player__btn {
  width: 20px;
  height: 20px;
  opacity: .6;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

/* .player__btn svg {
  opacity: .6;
  transition: all .2s ease;
} */

.player__btn:hover {
  opacity: 1;
}

.play-btn,
.pause-btn {
  width: 35px;
  height: 35px;
}

.is-disabled {
  opacity: .4;
}

.player__btn.is-disabled:hover {
  opacity: .4;
  cursor: auto;
}

.albums__list {
  margin-left: 20px;
  margin-bottom: 40px;
}

.albums__item {
  cursor: pointer;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
  opacity: 1;
}

.albums__item:hover {
  opacity: .7;
}

.albums__item:not(:last-child) {
  margin-bottom: 5px;
}

.albums__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.merch-btn {
  color: #fff;
}

.albums__download {
  display: inline-block;
  opacity: 1;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

.merch-btn {
  padding-right: 15px;
  opacity: 1;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

.albums__download:hover,
.merch-btn:hover {
  opacity: .8;
}



/* Pop-up cover */
.popup-cover,
.popup-tape,
.popup-donation,
.popup-video {
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: rgba(0, 0, 0, .8);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
  z-index: 10;
  cursor: pointer;
}

.popup-cover.is-open,
.popup-tape.is-open,
.popup-donation.is-open,
.popup-video.is-open {
  opacity: 1;
  visibility: visible;
}

.popup-tape {
  z-index: 5;
}


.popup-cover__container,
.popup-tape__container,
.popup-donation__container {
  position: relative;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  max-height: 100%;
  background-color: #fff;
  opacity: 0;
  background: inherit;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
  z-index: 100;
  overflow-y: hidden;
}

.popup-tape__container,
.popup-donation__container,
.popup-video__container {
  max-height: 100vh;
  background: rgba(0, 0, 0, 0);
  /* overflow-y: auto; */
}

.popup-donation__container {
  max-width: 90vw;
  cursor: auto;
}

.popup-tape,
.popup-donation,
.popup-video {
  background-image: url("../img/bg4.jpg");
  background-position: center;
  background-size: contain;
  background-attachment: fixed;
  background-color: rgba(255, 255, 255, 0.8);
}

.popup-video__container {
  width: 720px;
  height: 415px;
}

.popup-tape__content {
  max-height: 100vh;
  max-width: 100vw;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.popup-tape__title {
  margin: 0;
  margin-bottom: 20px;
  text-align: center;
}

.popup-tape__descr {
  max-width: 80%;

}

.popup-cover__img {
  width: 100%;
  height: 100%;
  max-height: 40%;
  max-width: 90vw;
  max-height: 90vh;
}

.popup-tape__images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  /* -ms-flex-direction: column;
          flex-direction: column; */
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  overflow-x: hidden;
  overflow-y: visible;

}

.popup-tape__img {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  max-height: 40vh;
  margin-right: 0;
}

.popup-tape__img_1 {
  margin-right: 15px;
}

.popup-cover__container.is-open,
.popup-tape__container.is-open,
.popup-donation__container.is-open {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}

.popup-donation__content {
  width: 100%;
}

.popup-donation__descr {
  margin: 0;
  margin-bottom: 50px;
  padding-left: 15px;
  max-width: 500px;
  font-size: 20px;
  text-align: center;
}

.popup-donation__item {
  margin: 0;
  margin-bottom: 5px;
}

.popup-donation__value {
  display: inline-block;
  max-width: 100%;
  margin: 0;
  margin-bottom: 15px;
  padding: 0 15px;
  font-size: 15px;
  word-wrap: break-word;
  opacity: .8;
  cursor: pointer;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

.popup-donation__value:hover {
  opacity: 1;
}

.popup-donation__value:active {
  opacity: .4;
}


.body.overflow {
  overflow-y: hidden;
}



/* footer */
.fototer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-bottom: 50px;
  margin: 0 auto;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.contacts-btn {
  margin-bottom: 10px;
  color: #fff;
  font-size: 20px;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

.contacts-btn:hover,
.contacts-btn:active {
  opacity: .8;
}

.footer__link,
.contacts__link {
  display: block;
  margin-bottom: 15px;
  color: #fff;
  font-size: 20px;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

.contacts__link {
  padding: 0 15px;
}

.footer__link:hover,
.contacts__link:hover,
.footer__link:active,
.contacts__link:active {
  opacity: .8;
}

.footer__down-section {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.footer__video-btn {
  display: flex;
  align-items:flex-end;
  width: 30px;
  height: 100px;
  background-color: transparent;
  opacity: .6;
  transition: all .7s ease;
}

.footer__video-btn:hover {
  opacity: 1;
}

.footer__video-btn > img {
  background-color: transparent;
}

.lang {
  -ms-flex-item-align: end;
  align-self: flex-end;
  padding-right: 40px;
}

.lang__btn {
  color: #fff;
  font-size: 20px;
  opacity: .7;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

.lang__btn:hover {
  opacity: 1;
}

.lang__btn.is-active {
  opacity: 1;
  cursor: auto;
}

/* ru/eng */
.display-none {
  display: none;

}

.donation {
  max-width: 370px;
  opacity: 0;
  /* transform: translateY(-100%);  */
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

.donation.is-active {
  opacity: 1;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
}

.donation__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.video_tunnel {
  max-width: 560px;
}

@media (max-width: 900px) {
  .albums__img {
    max-width: 300px;
    margin-top: 30px;
  }

  .popup-tape__img {
    margin-top: 0;
    max-width: 40vw;
  }

  .popup-tape__descr {
    max-width: 65%;
  }

  .popup-video__container {
    width: 520px;
    height: 315px;
  }
}

@media (max-width: 690px) {
  .albums__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }



  .player {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .albums__list {
    margin-left: 60px;
  }
}

@media (max-width: 525px) {
  .popup-video__container {
    width: 318px;
  }
}

@media (max-width: 480px) {
  .container {
    padding-left: 7px;
    padding-right: 7px;
  }

  .header-container {
    padding: 40px 0;
  }

  .header__logo {
    width: 180px;
    height: 230px;
  }



  .header__img-title {
    width: 300px;
  }

  .albums__title {
    font-size: 14px;
  }

  .albums__title.ui-accordion-header-active {
    margin-bottom: 10px;
    font-size: 20px;
  }

  .albums__img {
    margin-top: 0;
    margin-right: 0;
  }

  .albums__descr {
    padding-left: 15px;
    padding-right: 15px;
    font-size: 15px;
  }

  .player {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    padding-left: 20px;
  }

  .player__song-container {
    margin-bottom: 5px;
  }

  .player__btn-container {
    margin-left: 10px;
  }

  .albums__list {
    margin-left: 30px;
  }

  .albums__item {
    font-size: 12px;
  }

  .popup-tape {
    width: 100vw;
  }

  /* .popup-tape__title {
    display: none;
  } */

  .popup-tape__images {
    max-width: 100vw;
  }

  .popup-tape__img_1 {
    margin-right: 10px;
  }

  .popup-tape__for-sale>span {
    font-size: 13px;
  }


  .footer__link {
    font-size: 12px;
  }

  .contacts-btn {
    font-size: 15px;
  }

  .contacts__link {
    font-size: 12px;
  }

  .lang {
    font-size: 12px;
    padding-right: 10px;
  }

  .lang__btn {
    font-size: 12px;
  }


}
